/*
Fonts used in the website:

font-family: 'Dela Gothic One', cursive;
font-family: 'Exo 2', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Pixelify Sans', cursive;
font-family: 'Space Grotesk', sans-serif;
font-family: orangeKid;

colors used in the website:

#FFC6AC
#FFF6DC
#C4C1A4
#9E9FA5
*/
 

/* ////////////////////////////////////// */
/* /////// Start of General Rules /////// */
/* ////////////////////////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:wght@700&family=Indie+Flower&family=Pixelify+Sans&family=Space+Grotesk:wght@600&display=swap');


@font-face {
  font-family: orangeKid;
  src: url(../fonts/orangekid.otf);
}


img {
  max-width: 100%;
}


body {
  background-image: url(../images/tile_background.png);
  font-size: 1.125rem;
  line-height: 1.6;
}

/* ////////////////////////////////////// */
/* //////// End of General Rules //////// */
/* ////////////////////////////////////// */




/* ////////////////////////////////////// */
/* ////////// Start of Navbar  ////////// */
/* ////////////////////////////////////// */

nav {
  background-color: #FFC6AC;
  font-family: 'Dela Gothic One', cursive;
  font-size: 1.125rem;
}

.navbar-brand img {
  width:100px;
  height:100px;
}


.collapse {
  display: flex;
  justify-content: end;
}


.navbar-brand img {
  border-radius: 50%;
  margin-right: 15px;
}


.navbar-brand img span {
  display: inline-block;
  padding-left: 10px;
  font-size: 5px;
}


.nav-link:hover {
  color: #858370;
}

/* ////////////////////////////////////// */
/* /////////// End of Navbar  /////////// */
/* ////////////////////////////////////// */




/* ////////////////////////////////////// */
/* /////////// Start of Main  /////////// */
/* ////////////////////////////////////// */

main {
  font-family: 'Space Grotesk', sans-serif;
  color: #5d5c4f;
}


main .row .col-lg-5 {
  color: #5d5c4f;
}


main .row .col-lg-5 h1 {
  font-size: 5em;
  font-family: orangeKid;
  font-weight: 900;
  color: #9E9FA5;
}


.col-lg-7 img {
  border-radius: 10%;
}


.pic_left img {
  padding-right: 25px;
}


.btn {
  background-color: #FFC6AC;
  font-family: 'Pixelify Sans', cursive;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 800;
  width: 100%;
}


.btn:hover {
  background-color: #858370;
  color: #FFF6DC;
}


.hidden_table {
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
}

.hidden_table thead tr th {
  background-color: #FFC6AC;
}

.hidden_table tbody tr td {
  background-color: #FFF6DC;
  font-weight: 400;
}


.label_table1 {
  background-color: #FFC6AC !important;
}


.row h2 {
  font-size: 3.5em;
  font-family: orangeKid;
  font-weight: 900;
  color: #9E9FA5;
}


.row h2 {
  border-bottom-color: #C4C1A4 !important;
}


.section_img {
  max-width: 100%;
  border-radius: 15%;
  margin-bottom: 60px;
}

/* ////////////////////////////////////// */
/* //////////// End of Main  //////////// */
/* ////////////////////////////////////// */



/* ////////////////////////////////////// */
/* ////////// Start of Footer  ////////// */
/* ////////////////////////////////////// */

footer {
  background-color: #9E9FA5;
  padding: 20px;
  text-align: center;
}


footer p.border-top, footer p.border-bottom {
  font-family: 'Indie Flower', cursive;
  border-color: #C4C1A4 !important;
}

footer p span {
  color: #e25555;
}

/* ////////////////////////////////////// */
/* /////////// End of Footer  /////////// */
/* ////////////////////////////////////// */